.scan {
    position: absolute;
    rotate: 0deg;
}


#post_easter {
    top: 152px;
    left: 154px
}

#peace {
    top: 404px;
    left: 787px;
}

#icon1 {
    top: 185px;
    left: 1200px;
}

#cap {
    top: 350px;
    left: 1561px
}

#card1 {
    top: 129px;
    left: 1836px
}

#sketch1 {
    top: 149px;
    left: 2387px;
}

#sticker1 {
    top: 160px;
    left: 2990px;
}

#sketch2 {
    top: 80px;
    left: 3520px;
}

#post_porte {
    top: 153px;
    left: 4180px
}

#book_shishkan {
    top: 140px;
    left: 4810px
}

#braclet1 {
    top: 910px;
    left: 110px
}

#post_girl {
    top: 812px;
    left: 567px;
}

#money {
    top: 740px;
    left: 1083px;
}

#cat {
    top: 689px;
    left: 1580px;
}

#post_africa {
    top: 860px;
    left: 2480px;
}

#polaroid {
    top: 555px;
    left: 2858px;
}

#basquiat {
    top: 611px;
    left: 3395px;
}

#card2 {
    top: 564px;
    left: 4230px;
}

#baby {
    top: 588px;
    left: 4581px;
}

#vgik {
    top: 1320px;
    left: 240px;
}

#georgia1 {
    top: 1425px;
    left: 668px;
}

#tree {
    top: 1460px;
    left: 1390px;
}

#ticket {
    top: 1369px;
    left: 2135px;
}

#braclet2 {
    top: 1232px;
    left: 2863px;
}

#icon2 {
    top: 1098px;
    left: 4186px;
}

#post_cat {
    top: 900px;
    left: 4728px;
}

#sticker2 {
    top: 1809px;
    left: 210px;
}

#scrap {
    top: 1690px;
    left: 843px;
}

#sketch3 {
    top: 1882px;
    left: 695px;
}

#tram {
    top: 2064px;
    left: 1366px;
}

#card3 {
    top: 2090px;
    left: 1830px;
}

#moomin {
    top: 1815px;
    left: 2158px;
}

#post_catstar {
    top: 1590px;
    left: 2600px;
}

#nice1 {
    top: 1550px;
    left: 3107px;
}

#card4 {
    top: 1399px;
    left: 3598px;
}

#kino {
    top: 1712px;
    left: 3874px;
}

#ipod {
    top: 1515px;
    left: 4160px;
}

#tel_aviv {
    top: 1355px;
    left: 4710px;
}

#post_sheep {
    top: 2248px;
    left: 224px;
}

#sochi {
    top: 2415px;
    left: 842px;
}

#msk_t1 {
    top: 2510px;
    left: 1480px;
}

#envelope {
    top: 2365px;
    left: 2240px;
}

#ticket_air1 {
    top: 2083px;
    left: 2720px;
}

#georgia2 {
    top: 1926px;
    left: 3185px;
}

#matches {
    top: 2000px;
    left: 3690px;
}

#nice2 {
    top: 2050px;
    left: 4080px;
}

#card5 {
    top: 2344px;
    left: 4898px;
}

#msk_t2 {
    top: 2960px;
    left: 320px;
}

#post_mushrooms {
    top: 2900px;
    left: 1110px;
}

#ticket_air2 {
    top: 2890px;
    left: 1890px;
}

#istanbul {
    top: 2890px;
    left: 2680px;
}

#paper_summer {
    top: 2620px;
    left: 3048px;
}

#braclet3 {
    top: 2438px;
    left: 3784px;
}

#icon3 {
    top: 2895px;
    left: 3754px;
}

#book1 {
    top: 2680px;
    left: 4130px;
}

#post_green {
    top: 2886px;
    left: 4780px;
}